@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
$bg-color: #1F252B;

$text-white: #fff;
$text-second: #ffffffcc;
$text-third: #ffffffe6;
$text-fourth: #ffffffc7;
$text-gray: #ffffff8c;

$btn-bg: #FF6E30;
$btn-hover: #fb5b16;

body { 
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  background-color: $bg-color;
  color: $text-white;
}

html{
  font-size: 62.5%;
}
.container{
  max-width: 122.4rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn{
  padding: 1.2rem 3rem;
  background-color: $btn-bg;
  border-radius: 0.8rem;
  font-weight: 600;
  transition: all ease 0.5s;
}
.btn:hover{
  background-color: $btn-hover;
}
 
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
     color: inherit; 
    text-decoration: none;
    /* display: inline-block; */
}
a{
  transition: all ease 0.5s;
}
a:hover  { 
  color: $text-gray;
}

/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}

/* Form */ 
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}
